<br />

<br />

<div class="container">
  
    <div *ngIf="sucessfulCreation" class="alert alert-success" role="alert">
       {{ sucessfulCreationMessage }}
    </div>
    <div *ngIf="sucessfulUpdate" class="alert alert-success" role="alert">
        {{ sucessfulUpdateMessage }}
    </div>
    <h2> {{ title }}</h2>
    <br />

    <br />
    <button class="btn btn-primary" type="button" (click)="openCreateUser()">
        Novo Utilizador
     </button>

     <br />

     <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Nome</th>
                <th scope="col">Data de Criacao</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Cidade</th>
                <th scope="col">Genero</th>
                <th scope="col">Perfile</th>
                <th scope="col"> </th>
                <th scope="col"> </th>


            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let user of users">
                <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.creationDate | date }}</td>
                <td>{{ user.birthDate | date }}</td>
                <td>{{ user.city  }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.profile.name }}</td>


                <td>
                    <button class="btn btn-info" type="button" (click)="openUpdateUser( user )">
                    Editar
                </button>
                </td>
                <td>
                    <button class="btn btn-danger" type="button" (click)="openDeleteModel( user.username )">
                    Remover
                 </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>