<br />

<br />

<div class="container">
    
    <h4> {{ title }}</h4>
    <br />

    <br />
   
     <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Comprador</th>
                <th scope="col">Musica</th>
                <th scope="col">Preco</th>
                <th scope="col">Trabalho</th>
                <th scope="col">Tipo</th>
                <th scope="col">Data</th>


                <th ></th>
                
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let accountItem of accountItems">
                <td>{{ accountItem.account.code }}</td>
                <td>{{ accountItem.item.name }}</td>
                <td>{{ accountItem.item.price | currency}}</td>
                <td>{{ accountItem.item.job.name }}</td>
                <td>{{ accountItem.item.job.jobType }}</td>
                <td>{{ accountItem.creationDate | date }}</td>
                <td>
                    <button class="btn btn-info" type="button" (click)="openDetails( accountItem )">
                        <img src="../../../assets/button-Info.png" width="30px" height="30px"/>
                    </button>    
                </td>
            </tr>
        </tbody>
    </table>


</div>
