<br />

<br />

<div class="container">
    
    <h2> {{ title }}</h2>
    <br />

    <br />
    <button class="btn btn-light" type="button" (click)="openNewJobDialog()">
        <img src="../../../assets/button-add.png" width="50px" height="50px"/>
     </button>

     <br />

     <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">nome</th>
                <th scope="col">Autor</th>
                <th scope="col">tipo</th>
                <th scope="col">codigo</th>
                <th scope="col">Lancado em </th>
                <th scope="col">Preco </th> 
                <th ></th>
                <th ></th>
                <th ></th>
                <th ></th>

            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let job of jobs">
                <td>{{ job.name }}</td>
                <td>{{ job.author.name }}</td>
                <td>{{ job.jobType }}</td>
                <td>{{ job.code  }}</td>
                <td>{{ job.releaseDate | date  }}</td>
                <td>{{ job.price | currency  }}</td>

               
                <td>
                    <button class="btn btn-light" type="button" (click)="openUpdateJobDialog( job )">
                        <img src="../../../assets/button-edit.png" width="30px" height="30px"/>
                    </button>
                </td>
                <td>
                    <button class="btn btn-light" type="button" (click)="openDeleteJobDialog( job )">
                        <img src="../../../assets/button-remove.png" width="30px" height="30px"/>
                     </button>
                </td>
                <td>
                    <button class="btn btn-light" type="button" (click)="openUploadPhoto( job )">
                        <img src="../../../assets/button-image-upload-icon.png" width="30px" height="30px"/>
                     </button>
                </td>
                <td>
                    <button class="btn btn-light" type="button" (click)="openDetails( job )">
                        <img src="../../../assets/button-Info.png" width="30px" height="30px"/>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>