<br />
<br />
<div class="alert alert-danger" role="alert" *ngIf="uiError">
    {{ uiErrorMessage }}
</div>

<div class="container col-lg-4">
    <h1 class="text-center">Login</h1>
    <div class="card">
        <div class="card-body">
            <form [formGroup]="form">
                <div class=" form-group ">
                    <label for="username ">Username</label>
                    <input type="number " id="username " class="form-control" formControlName="username" required/>
                </div>
                <div class="form-group ">
                    <label for="password ">Password</label>
                    <input type="password " id="password" class="form-control" formControlName="password" required/>
                </div>
                <div>
                    <button class="btn btn-primary btn-lg btn-block" (click)="login()">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>