<br />
<br />
<div class="alert alert-danger" role="alert" *ngIf="missMatchPasswords">
    {{ theSamePassErrorMessage }}
</div>
<div class="alert alert-danger" role="alert" *ngIf="errorUpdatingPassword">
    {{ errorUpdatingPasswordMessage }}
</div>
<div class="alert alert-success" role="alert" *ngIf="successPasswordChanged">
    {{ successPasswordChangedMessage }}
</div>

<div class="container col-lg-12">
    <h3 class="text-center">Alteracao da senha de "{{ username }}" </h3>
    <div class="card">
        <div class="card-body">
            <form [formGroup]="form" id="change-password">
                
                <div class="form-group ">
                    <label for="oldPassword">Senha antiga</label>
                    <input type="password" id="oldPassword" class="form-control" formControlName="oldPassword" required/>
                </div>
                <div class="form-group ">
                    <label for="newPassword1">nova senha</label>
                    <input type="password" id="newPassword1" class="form-control" formControlName="newPassword1" required/>
                </div>
                <div class="form-group ">
                    <label for="newPassword2">Repita a nova senha</label>
                    <input type="password" id="newPassword2" class="form-control" formControlName="newPassword2" required/>
                </div>
                <div>
                    <button class="btn btn-primary btn-lg btn-block" [disabled]="!form.valid" (click)="change()">Alterar Senha</button>
                    <button class="btn btn-lights btn-lg btn-block"   (click)="close()">Sair</button>
  
                </div>
            </form>
        </div>
    </div>
</div>