<br />
<h2> {{ title }}</h2>
<br />
<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col"> Descricao</th>
                <th scope="col">Data de Criacao</th>


            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let profile of profiles">
                <td>{{ profile.name }}</td>
                <td>{{ profile.description }} </td>
                <td>{{ profile.creationDate | date }}</td>


            </tr>
        </tbody>
    </table>
</div>