
<div *ngIf="success" class="alert alert-success" role="alert">
    {{ successMessage }}
</div>
<div *ngIf="failture" class="alert alert-danger" role="alert">
    {{ errorMessage }}
</div>
<h4>
    Actualizacao da conta MTOCA de: {{ data.code }}
</h4>

<form [formGroup]="form">
    <div class="form-group">
        <label> Nome</label>
        <input type="text" class="form-control" value="{{ data.user.name }}" disabled required>
    </div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" value="{{ data.user.username }}" disabled required>
    </div>
    <div class="form-group">
        <label>Valor </label>
        <input type="number" formControlName="amount" class="form-control" id="balance" required>
    </div>
    <div class="form-group">
        <label>Descricao </label>
        <input type="text" formControlName="description" class="form-control" required>
    </div>
    <div class="modal-footer ">

        <button type="submit " class="btn btn-success" [disabled]="!form.valid" (click)="updateBalance()">Actualizar</button>
        <button type="button " class="btn btn-secondary" (click)="cancel()">Cancelar</button>

    </div>

</form>