
<div *ngIf="sucess" class="alert alert-success" role="alert">
    {{ sucessMessage }}
</div>
<div *ngIf="failture" class="alert alert-danger" role="alert">
    {{ errorMessage }}
</div>
<div *ngIf="unsupportedMusicSeqNumber" class="alert alert-danger" role="alert">
    {{ unsupportedMusicSeqNumberMessage }}
</div>
<br />

<div class="container">
    <div class=" col-lg-6">
        <h2> Nova da Musica do Artista</h2>

        <form class="" [formGroup]="form" (ngSubmit)="saveMusic()">

            <div class="form-group">
                <label for="artist1">Artista:</label>
                <select class="form-control" formControlName="author" id="artist1" (ngModelChange) = 'getJobsByArtist($event)'  required>
                    <option disabled value="null"> --Selecione o Artista-- </option>
                    <option value="{{ artist.username }}" *ngFor="let artist of artists" [ngValue] ="artist">{{ artist.name }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="jobs">Trabalhos discograficos:</label>
                <select class="form-control" formControlName="jobs" id="jobs"  required>
                    <option disabled value="null"> -- Selecione o trabalho discografico -- </option>
                    <option value="{{ job.code }}" *ngFor="let job of jobs" [ngValue] ="job">{{ job.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Preco:</label>
                <input type="number" class="form-control" formControlName="price" id="price" required />
            </div>
            <div class="form-group">
                <label for="seqNumber">Numero de faixa:</label>
                <input type="number" max="50" min="1" class="form-control" formControlName="seqNumber" id="seqNumber" required />
            </div>
            <div class="form-group">
                <label for="name">Titulo:</label>
                <input type="text" class="form-control" formControlName="name" id="name" required />
            </div>
            <div class="form-group">
                <label for="genre">Genero:</label>
                <input type="text" class="form-control" formControlName="genre" id="genre" required />
            </div>
            <div class="form-group">
                <label for="colaborators">Colaboracao:</label>
                <input type="text" class="form-control" formControlName="colaborators" id="colaborators" />
            </div>
            <div class="form-group">
                <label for="releaseDate">Data Lancamento:</label>
                <input type="date" class="form-control" formControlName="releaseDate" id="releaseDate" required />
            </div>
           
            
            <button type="submit" class="btn btn-success" [disabled]="!form.valid">Submit</button>
            <button type="reset" class="btn btn-light">Apagar</button>
        </form>
    </div>
</div>