<br />

<br />

<div class="container">
    
    <h2> {{ title }}</h2>
    <br />

    <br />
        <button class="btn btn-primary" type="button" (click)="openGroupPerJob()">
           Vendas/W Discografico 
        </button>
    <br />

     <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Artista</th>
                <th scope="col">Obra</th>
                <th scope="col">Data Lanc.</th>
                <th scope="col">Musica</th>
                <th scope="col">Cod. Musica</th>
                <th scope="col">Valor</th>
                <th scope="col">Nr. vendas</th>
                <th scope="col">SubTotal</th>
                <th ></th>
                
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let accountItemPerItemDto of accountItemPerItemDtos">
                <td>{{ accountItemPerItemDto.itemEntity.job.author.name }}</td>
                <td>{{ accountItemPerItemDto.itemEntity.job.name }}</td>
                <td>{{ accountItemPerItemDto.itemEntity.job.releaseDate | date}}</td>
                <td>{{ accountItemPerItemDto.itemEntity.name  }}</td>
                <td>{{ accountItemPerItemDto.itemEntity.code  }}</td>
                <td>{{ accountItemPerItemDto.itemEntity.price | currency }}</td>
                <td>{{ accountItemPerItemDto.numberOfSales  }}</td>
                <td>{{ accountItemPerItemDto.subTotal  | currency }}</td>

               
            </tr>
        </tbody>
    </table>


</div>
